<!DOCTYPE html>
<html lang="en">
<head>

    {% include 'shop/parts/head.html' %}

    <title>
        {% block title %}Wonder Emporium |{% endblock title %}
    </title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col col-xs-12">
                <h1>Wonder Emporium</h1>
            </div>
        </div> <!-- END OF HEADER -->
        <div class="row">
            <div class="col col-xs-12 header">
                Your cart is empty.
            </div>
        </div>

    {% block content %}
    {% endblock content %}

    </div>

    {% include 'shop/parts/js_included.html' %}

</body>
</html>